<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% call govukFieldset({
      legend: {
        text: pageTitle + "?",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}
    {% set todayHtml %}
    <div class="govuk-form-group{% if getTimeErrors(errorSummary, validateAndError) %} govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="time-of-incident">
        <label class="govuk-label govuk-label--m" for="hour-0">
            Time (approximately)
        </label>
        <div id="time-of-incident-hint" class="govuk-hint">
          For example, 9:30am or 2:55pm.
        </div>
        {% if getTimeErrors(errorSummary, validateAndError) %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getTimeErrors(errorSummary, validateAndError)[0].text }}
          </p>
        {% endif %}
        <div class="govuk-date-input">
          <div class="govuk-time-input__item__separator">
            <div class="govuk-form-group">
              <label class="govuk-label" for="hour-0">
                Hour
              </label>
              <input class="{{ fieldErrorClasses(validateAndError.hour, 'govuk-input govuk-input--width-2') }}" id="hour-0" name="hour" type="text" inputmode="numeric" value="{{ hour if isToday else validateAndError.hour.value }}">
            </div>
          </div>
          <div class="govuk-time-input__item govuk-time-input__item__separator">
            <label class="govuk-label" for="minute-0">:</label>
          </div>
          <div class="govuk-time-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="minute-0">
                Minute
              </label>
              <input class="{{ fieldErrorClasses(validateAndError.minute, 'govuk-input govuk-input--width-2') }}" id="minute-0" name="minute" type="text" inputmode="numeric" value="{{ minute if isToday else validateAndError.minute.value }}">
            </div>
          </div>
          <div class="govuk-time-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="period-0">
                am or pm
              </label>
              <select class="govuk-select govuk-select--custom-time {% if (validateAndError.period.isEmpty) %}govuk-select--error{% endif %} {% if not validateAndError.period.isValid %}govuk-select--error{% endif %}" id="period-0" name="period">
                <option value="" selected>&nbsp;</option>
                <option value="am" {% if (isToday and period === 'am') or validateAndError.period.value === 'am' %}selected{% endif %}>am</option>
                <option value="pm" {% if (isToday and period === 'pm') or validateAndError.period.value === 'pm' %}selected{% endif %}>pm</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    {% endset -%}

    {% set yesterdayHtml %}
    <div class="govuk-form-group{% if getTimeErrors(errorSummary, validateAndError) %} govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="time-of-incident">
        <label class="govuk-label govuk-label--m" for="hour-1">
            Time (approximately)
        </label>
        <div id="time-of-incident-hint" class="govuk-hint">
          For example, 9:30am or 2:55pm.
        </div>
        {% if getTimeErrors(errorSummary, validateAndError) %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getTimeErrors(errorSummary, validateAndError)[0].text }}
          </p>
        {% endif %}
        <div class="govuk-date-input">
          <div class="govuk-time-input__item__separator">
            <div class="govuk-form-group">
              <label class="govuk-label" for="hour-1">
                Hour
              </label>
              <input class="{{ fieldErrorClasses(validateAndError.hour, 'govuk-input govuk-input--width-2') }}" id="hour-1" name="hour" type="text" inputmode="numeric" value="{{ hour if isYesterday else validateAndError.hour.value }}">
            </div>
          </div>
          <div class="govuk-time-input__item govuk-time-input__item__separator">
            <label class="govuk-label" for="minute-1">:</label>
          </div>
          <div class="govuk-time-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="minute-1">
                Minute
              </label>
              <input class="{{ fieldErrorClasses(validateAndError.minute, 'govuk-input govuk-input--width-2') }}" id="minute-1" name="minute" type="text" inputmode="numeric" value="{{ minute if isYesterday else validateAndError.minute.value }}">
            </div>
          </div>
          <div class="govuk-time-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="period-1">
                am or pm
              </label>
              <select class="govuk-select govuk-select--custom-time {% if (validateAndError.period.isEmpty) %}govuk-select--error{% endif %} {% if not validateAndError.period.isValid %}govuk-select--error{% endif %}" id="period-1" name="period">
                <option value="" selected>&nbsp;</option>
                <option value="am" {% if (isYesterday and period === 'am') or validateAndError.period.value === 'am' %}selected{% endif %}>am</option>
                <option value="pm" {% if (isYesterday and period === 'pm') or validateAndError.period.value === 'pm' %}selected{% endif %}>pm</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    {% endset -%}

    {% set dateHtml %}
    {{ govukDateInput({
      id: "date",
      namePrefix: "date",
      errorMessage: getDateErrors(errorSummary, validateAndError)[0],
      fieldset: {
        legend: {
          text: "Date",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          classes: fieldErrorClasses(validateAndError.day, 'govuk-input--width-2'),
          name: "day",
          value: day if isEarlier else validateAndError.day.value
        },
        {
          classes: fieldErrorClasses(validateAndError.month, 'govuk-input--width-2'),
          name: "month",
          value: month if isEarlier else validateAndError.month.value
        },
        {
          classes: fieldErrorClasses(validateAndError.year, 'govuk-input--width-4'),
          name: "year",
          value: year if isEarlier else validateAndError.year.value
        }
      ]
    }) }}
    <div class="govuk-form-group{% if getTimeErrors(errorSummary, validateAndError) %} govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="time-of-incident">
        <label class="govuk-label govuk-label--m" for="hour-2">
            Time (approximately)
        </label>
        <div id="time-of-incident-hint" class="govuk-hint">
          For example, 9:30am or 2:55pm.
        </div>
        {% if getTimeErrors(errorSummary, validateAndError) %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ getTimeErrors(errorSummary, validateAndError)[0].text }}
          </p>
        {% endif %}
        <div class="govuk-date-input">
          <div class="govuk-time-input__item__separator">
            <div class="govuk-form-group">
              <label class="govuk-label" for="hour-2">
                Hour
              </label>
              <input class="{{ fieldErrorClasses(validateAndError.hour, 'govuk-input govuk-input--width-2') }}" id="hour-2" name="hour" type="text" inputmode="numeric" value="{{ hour if isEarlier else validateAndError.hour.value }}">
            </div>
          </div>
          <div class="govuk-time-input__item govuk-time-input__item__separator">
            <label class="govuk-label" for="minute-2">:</label>
          </div>
          <div class="govuk-time-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="minute-2">
                Minute
              </label>
              <input class="{{ fieldErrorClasses(validateAndError.minute, 'govuk-input govuk-input--width-2') }}" id="minute-2" name="minute" type="text" inputmode="numeric" value="{{ minute if isEarlier else validateAndError.minute.value }}">
            </div>
          </div>
          <div class="govuk-time-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label" for="period-2">
                am or pm
              </label>
              <select class="govuk-select govuk-select--custom-time {% if (validateAndError.period.isEmpty) %}govuk-select--error{% endif %} {% if not validateAndError.period.isValid %}govuk-select--error{% endif %}" id="period-2" name="period">
                <option value="" selected>&nbsp;</option>
                <option value="am" {% if (isEarlier and period === 'am') or validateAndError.period.value === 'am' %}selected{% endif %}>am</option>
                <option value="pm" {% if (isEarlier and period === 'pm') or validateAndError.period.value === 'pm' %}selected{% endif %}>pm</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    {% endset -%}

    {{ govukRadios({
      classes: "govuk-radios",
      id: "current",
      name: "current",
      errorMessage: findErrorMessageById(errorSummary, "current"),
      items: [
        {
          value: 0,
          text: "Today",
          checked: (current === '0' or isToday),
          conditional: {
            html: todayHtml
          }
        },
        {
          value: 1,
          text: "Yesterday",
          checked: (current === '1' or isYesterday),
          conditional: {
            html: yesterdayHtml
          }
        },
        {
          value: 2,
          text: "Before then",
          checked: (current === '2' or isEarlier),
          conditional: {
            html: dateHtml
          }
        }
      ]
    }) }}

    {% endcall %}

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>
