{% extends 'form-layout.html' %}

{% set pageTitle = 'When did the incident happen' %}

{% block formContent %}

<div class="govuk-grid-row">
  {% call govukFieldset({
    legend: {
      text: pageTitle + "?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}
  <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
      classes: "govuk-radios",
      id: "current",
      name: "current",
      errorMessage: findErrorMessageById(errorSummary, "current"),
      items: [
        {
          value: 0,
          text: "Now"
        },
        {
          value: 1,
          text: "Earlier today"
        },
        {
          value: 2,
          text: "Yesterday"
        },
        {
          value: 3,
          text: "Before yesterday"
        }
      ]
    }) }}

    {% endcall %}

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
