{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="symptoms" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {% set leaveareaHtml %}
        {{ govukTextarea({
          id: "leave-area-details",
          name: "leave-area-details",
          classes: "govuk-!-width-two-third",
          label: {
            text: "Give details of where and when this happened"
          }
        }) }}
        {% endset -%}

        {% set leavehomeHtml %}
        {{ govukTextarea({
          id: "leave-home-details",
          name: "leave-home-details",
          classes: "govuk-!-width-two-third",
          label: {
            text: "Give details of when you had to leave your home"
          }
        }) }}
        {% endset -%}

        {% set otherHtml %}
        {{ govukInput({
          id: "other-daily-life-impact",
          name: "other-daily-life-impact",
          spellcheck: false,
          classes: "govuk-!-width-two-third",
          label: {
            text: "Give details"
          }
        }) }}
        {% endset -%}

          {{ govukCheckboxes({
            name: "leave",
            fieldset: {
              legend: {
                text: "Has the smell meant you have had to do any of the following?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "cover",
              text: "Cover your face or nose"
            },
            {
              value: "windows",
              text: "Keep windows and doors closed"
            },
              {
                value: "leave-area",
                text: "Leave the area of the smell",
                conditional: {
                    html: leaveareaHtml
                    }
              },
              {
                value: "leave-home",
                text: "Leave your home",
                conditional: {
                    html: leavehomeHtml
                    }
              },
              {
                value: "other",
                text: "Something else",
                conditional: {
                    html: otherHtml
                    }
              },
              {
                divider: "or"
              },
              {
                value: "noActions",
                text: "None of these"
              }
            ]
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
