{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="../otherInfo" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

          {% set otherHtml %}
          {{ govukTextarea({
            id: "other-symptoms",
            name: "other-symptoms",
            classes: "govuk-!-width-two-third",
            label: {
              text: "Give details of what happened, when"
            }
          }) }}
          {% endset -%}

          {{ govukCheckboxes ({
            name: "symptoms",
            fieldset: {
              legend: {
                text: "Has the smell caused any of the following symptoms?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "When answering, consider the effects on yourself and anyone you live with."
            },
            items: [
            {
              value: "headache",
              text: "Headache"
            },
            {
              value: "wateringeyes",
              text: "Watering eyes"
            },
              {
                value: "sick",
                text: "Sickness or nausea"
              },
              {
                value: "vomit",
                text: "Vomiting"
              },
              {
                value: "other",
                text: "Something else",
                conditional: {
                    html: otherHtml
                    }
              },
              {
                divider: "or"
              },
              {
                value: "nosymptoms",
                text: "None of these"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
