{% extends 'layout.html' %}

{% set pageTitle = 'Report the problem to the owner or the police' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Report the problem to the owner or the police
    </h1>
    <p>If you're reporting people fishing on private land without permission, or stealing fish, report it to either:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the owner</li>
      <li>the local angling club or bailiff</li>
      <li>the police, call 101 if it is not urgent or 999 if a crime is in progress</li>
    </ul>
  </div>
</div>

{% endblock %}