{% extends 'form-layout.html' %}

{% set pageTitle = question01.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukTextarea({
      name: "descriptionDetails",
      id: "descriptionDetails",
      rows: "5",
      label: {
        text: question01.text,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      errorMessage: findErrorMessageById(errorSummary, 'descriptionDetails')
    }) }}

    {{ govukInput({
        id: "vehicleRegistration",
        name: "vehicleRegistration",
        value: vehicleRegistration,
        classes: "govuk-!-width-one-third",
        label: {
          text: question02.text
        }
      }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>

{% endblock %}
