{% extends 'form-layout.html' %}

{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukTextarea({
      name: "locationDescription",
      id: "locationDescription",
      rows: "10",
      label: {
        text: question.text,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        html: "Include things like the name of the watercourse and nearest town or landmarks. You can also include things like <a href='http://www.what3words.com' target='_new'>what3words (opens new tab)</a> or map references."
      },
      errorMessage: findErrorMessageById(errorSummary, 'locationDescription'),
      value: getAnswer(answers, question.answers.locationDetails.answerId)
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>

{% endblock %}
