{% extends 'form-layout.html' %}

{% set pageTitle = 'Your contact details' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="index" method="post">
      {% call govukFieldset({
        legend: {
          text: pageTitle,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      <p class="govuk-body">We will only use your email and phone number to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>send you confirmation of your report, including a reference number</li>
        <li>ask for more information about the problem, if needed</li>
      </ul>
      <p class="govuk-body">You do not have to give any details, but we cannot send you a reference number without an email.</p>
      <p class="govuk-body"><a href="../privacy-notice">Find out how we use your personal data</a>.</p>
      {{ govukInput({
        id: "fullName",
        name: "fullName",
        value: fullName,
        autocomplete: "name",
        classes: "govuk-!-width-two-thirds",
        spellcheck: false,
        label: {
          text: "Your name (optional)"
        }
      }) }}
      {{ govukInput({
        id: "email",
        name: "email",
        value: email,
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Email address (optional)"
        },
        hint: {
          text: "We will send your reference number to this email"
        },
        errorMessage: findErrorMessageById(errorSummary, 'email')
      }) }}
      {{ govukInput({
        id: "phone",
        name: "phone",
        value: phone,
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Phone number (optional)"
        },
        errorMessage: findErrorMessageById(errorSummary, 'phone')
      }) }}

      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
