{% extends 'form-layout.html' %}
{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          {{ question.text }}
        </h1>
      </legend>
      {% set contactHtml %}
        <p>We'll send a message to <strong>{{ reporterEmailAddress }}</strong> with details on where to send these, if needed.</p>
      {% endset -%}

      {{ govukRadios({ 
        classes: "govuk-radios", 
        name: "answerId",
        id: "answerId",
        errorMessage: findErrorMessageById(errorSummary, "answerId"),
        hint: {
          text: "You must be able to send these to us by email."
        },
        items: [ 
          {
            value: question.answers.yes.answerId,
            text: question.answers.yes.text,
            checked: getAnswer(answers, question.answers.yes.answerId),
            conditional: {
              html: contactHtml
            }
          },
          {
            value: question.answers.no.answerId,
            text: question.answers.no.text,
            checked: getAnswer(answers, question.answers.no.answerId)
          }
        ] 
      }) }}
    </fieldset>
    
    {{ govukButton({ 
      text: "Continue" 
    }) }} 
  </div> 

</div> 
{% endblock %}
