{% extends 'form-layout.html' %}
{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    {{ govukCheckboxes({
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      fieldset: {
        legend: {
          text:  pageTitle + "?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: hintHtml
      },
      items: [
        {
          value: question.answers.yesPhotos.answerId,
          text: question.answers.yesPhotos.text,
          checked: getAnswer(answers, question.answers.yesPhotos.answerId)
        },
        {
          value: question.answers.yesVideo.answerId,
          text: question.answers.yesVideo.text,
          checked: getAnswer(answers, question.answers.yesVideo.answerId)
        },
        {
          divider: "or"
        },
        {
          value: question.answers.noPhotos.answerId,
          text: question.answers.no.text,
          behaviour: "exclusive",
          checked: getAnswer(answers, question.answers.noPhotos.answerId) and getAnswer(answers, question.answers.noVideo.answerId)
        }
      ]
    }) }}
    
    
    {{ govukButton({ 
      text: "Continue" 
    }) }} 
  </div> 

</div> 
{% endblock %}
