{% extends 'form-layout.html' %}

{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group {% if findErrorMessageById(errorSummary, 'answerId-1') %}govuk-form-group--error{% endif %}">
      {% if resultsFound === false %}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          No address found
        </h1>
      </legend>
      <p class="govuk-body">
        We could not find an address that matches <b>{{ buildingDetails }}</b> and <b>{{ postcode }}</b>.
      </p>
      <p class="govuk-body">
        Check you have entered the correct postcode.
      </p>
      <p class="govuk-body">
        <a href="{{ findAddress }}" class="govuk-link">Change search</a>
      </p>
      {% endif %}

      {% if resultsFound === true %}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Choose an address
          </h1>
        </legend>
        {% if showFullResults === false %}
        <p class="govuk-body">
          {{ resultlength }} {% if resultlength === 1 %}address{% else %}addresses{% endif %} found for <b>{{ buildingDetails }}</b> and <b>{{ postcode }}</b>
        </p>
        {% endif %}
        {% if showFullResults === true %}
        <p class="govuk-body">
          We could not find an address that matches <b>{{ buildingDetails }}</b> and <b>{{ postcode }}</b>
        </p>
        <p class="govuk-body">
          {{ resultlength }} {% if resultlength === 1 %}address{% else %}addresses{% endif %} found for <b>{{ postcode }}</b>
        </p>
        {% endif %}

        <p class="govuk-body">
          <a href="{{ findAddress }}" class="govuk-link">Change search</a>
        </p>

        {% if findErrorMessageById(errorSummary, 'answerId-1') %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select an address
          </p>
        {% endif %}
        
        <div class="govuk-radios" data-module="govuk-radios">
          {% for result in resultsData %}
          {% set counter = ( counter | default(0) ) + 1 %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="answerId-{{ counter }}" name="answerId" type="radio"
              value="{{ result.uprn }}">
            <label class="govuk-label govuk-radios__label" for="answerId-{{ counter }}">
              {{ result.address }}
            </label>
          </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>

    {{ govukButton({
    text: "Use this address",
    isStartButton: false
    }) }}

    {% endif %}

    <p class="govuk-body">
      <a href="{{ enterAddress }}" class="govuk-link">Enter address manually</a>
    </p>
  </div>
</div>

{% endblock %}