{% extends 'form-layout.html' %}

{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% call govukFieldset({
      legend: {
        text: "Confirm address",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}
    {% endcall %}
    
    <div class="govuk-inset-text">{{ addressLine1 }}<br>{{ townOrCity }}<br>{{ postcode }}</div>

    {{ govukButton({
      text: "Use this address",
      isStartButton: false
    }) }}

    <p class="govuk-body">
      <a href="{{ differentAddress }}" class="govuk-link">Select a different address</a>
    </p>
    <p class="govuk-body">
      <a href="{{ enterAddress }}" class="govuk-link">Enter address manually</a>
    </p>
  </div>
</div>

{% endblock %}
