{% extends 'layout.html' %}

{% set pageTitle = 'Contact your local council about the smell' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Contact your local council about the smell
    </h1>

    <p>If you do not know where the smell is coming from, your local council is the best place to contact about the
      problem at first.</p>
    <p>They may already know about the problem and be able to tell you what to do next.</p>
    <p><a href="https://www.gov.uk/find-your-local-council">Check your local council's website</a> for information, or contact their "Environmental Health" department.</p>
  </div>
</div>

{% endblock %}