{% extends 'form-layout.html' %}

{% set pageTitle = question.text %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set otherHtml %}
      {{ govukInput({
        id: "somethingElseDetails",
        name: "somethingElseDetails",
        spellcheck: false,
        classes: "govuk-!-width-two-third",
        value: getAnswer(answers, question.answers.somethingElseDetails.answerId)
      }) }}
    {% endset -%}

    {{ govukCheckboxes({
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      fieldset: {
        legend: {
          text:  pageTitle,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: question.answers.sewage.answerId,
          text: question.answers.sewage.text,
          checked: getAnswer(answers, question.answers.sewage.answerId)
        },
        {
          value: question.answers.rubbishOrRefuse.answerId,
          text: question.answers.rubbishOrRefuse.text,
          checked: getAnswer(answers, question.answers.rubbishOrRefuse.answerId)
        },
        {
          value: question.answers.burningOrSmoke.answerId,
          text: question.answers.burningOrSmoke.text,
          checked: getAnswer(answers, question.answers.burningOrSmoke.answerId)
        },
        {
          value: question.answers.gasOrPetrol.answerId,
          text: question.answers.gasOrPetrol.text,
          checked: getAnswer(answers, question.answers.gasOrPetrol.answerId)
        },
        {
          value: question.answers.agriculture.answerId,
          text: question.answers.agriculture.text,
          checked: getAnswer(answers, question.answers.agriculture.answerId)
        },
        {
          value: question.answers.somethingElse.answerId,
          text: question.answers.somethingElse.text,
          checked: getAnswer(answers, question.answers.somethingElse.answerId),
          conditional: {
            html: otherHtml
          }
        },
        {
          divider: "or"
        },
        {
          value: question.answers.cannotDescribe.answerId,
          text: question.answers.cannotDescribe.text,
          checked: getAnswer(answers, question.answers.cannotDescribe.answerId),
          behaviour: "exclusive"
        }
      ]
    }) }}
 

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
