{% extends 'form-layout.html' %}
{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% set otherHtml %}
      {{ govukInput({
        id: "somethingElseDetails",
        name: "somethingElseDetails",
        spellcheck: false,
        classes: "govuk-!-width-two-third",
        label: {
          text: question.answers.somethingElseDetails.text
        }
      }) }}
      {% endset -%}

      {{ govukCheckboxes({
        name: "answerId",
        id: "answerId",
        errorMessage: findErrorMessageById(errorSummary, "answerId"),
        fieldset: {
          legend: {
            text: question.text,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
          value: question.answers.headache.answerId,
          text: question.answers.headache.text
        },
        {
          value: question.answers.wateringEyes.answerId,
          text: question.answers.wateringEyes.text
        },
        {
          value: question.answers.sicknessOrNausea.answerId,
          text: question.answers.sicknessOrNausea.text
        },
        {
          value: question.answers.vomiting.answerId,
          text: question.answers.vomiting.text
        },
        {
          value: question.answers.somethingElse.answerId,
          text: question.answers.somethingElse.text,
          conditional: {
            html: otherHtml
          }
        },
        {
          divider: "or"
        },
        {
          value: question.answers.noneOfthese.answerId,
          text: question.answers.noneOfthese.text,
          behaviour: "exclusive"
        }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

  </div>
</div>

{% endblock %}

