{% extends 'form-layout.html' %}

{% set title = (question.text if onGoing else question.text.replace('?', ', on this occasion?')) %}
{% set pageTitle = title.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        {% set otherHtml %}
        {{ govukInput({
          id: "otherDetails",
          name: "otherDetails",
          classes: "govuk-!-width-two-third",
          label: {
            text: question.answers.otherDetails.text
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes ({
          name: "effect",
          id: "effect",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: question.answers.headache.answerId,
            text: question.answers.headache.text
          },
          {
            value: question.answers.wateringEyes.answerId,
            text: question.answers.wateringEyes.text
          },
            {
              value: question.answers.sick.answerId,
              text: question.answers.sick.text
            },
            {
              value: question.answers.vomit.answerId,
              text: question.answers.vomit.text
            },
            {
              value: question.answers.other.answerId,
              text: question.answers.other.text,
              conditional: {
                  html: otherHtml
                  }
            },
            {
              divider: "or"
            },
            {
              value: question.answers.noneOfThese.answerId,
              text: question.answers.noneOfThese.text
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

  </div>
</div>

{% endblock %}

