{% extends 'form-layout.html' %}

{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ question.text }}
    </h1>
    <div id="location-hint" class="govuk-hint">
      This means where the smell is causing you a problem, for example in your home. Choose how you'd prefer to give the location.
    </div>
    {{ govukRadios({
      classes: "govuk-radios",
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      items: [
        {
          value: question.answers.address.answerId,
          text: question.answers.address.text
        },
        {
          value: question.answers.description.answerId,
          text: question.answers.description.text
        }
      ]
    }) }}
    {{ govukButton({
      text: "Continue"
    }) }}

  </div>

</div>

{% endblock %}
