{% extends 'form-layout.html' %}

{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukRadios({
      classes: "govuk-radios",
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      fieldset: {
        legend: {
          text: question.text,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: "Choose how you want to give the location."
      },
      items: [
        {
          value: question.answers.map.answerId,
          text: question.answers.map.text
        },
        {
          value: question.answers.description.answerId,
          text: question.answers.description.text
        }
      ]
    }) }}
  
    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
