{% extends 'form-layout.html' %}

{% set pageTitle = 'Is there anything else you\'d like to add' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukTextarea({
      name: "otherDetails",
      id: "otherDetails",
      rows: "10",
      label: {
        text: "Is there anything else you'd like to add (optional)?",
        classes: "govuk-label--l",
        isPageHeading: true
      }
    }) }}

    {{ govukButton({
      text: "Finish and send"
    }) }}

  </div>
</div>

{% endblock %}
