{% extends 'form-layout.html' %}

{% set pageTitle = 'Has this happened before?' %}
{% set title = 'Has this happened before?' %}

{% set items = [
  {
    value: question.answers.yes.answerId,
    text: question.answers.yes.text
  },
  {
    value: question.answers.occasionally.answerId,
    text: question.answers.occasionally.text
  },
  {
    value: question.answers.no.answerId,
    text: question.answers.no.text
  }
]%}

{% block formContent %}

  {% include "partials/radios.html" %} 

{% endblock %}