{% extends 'form-layout.html' %}

{% set title = (question.text if current else question.text.replace('is', 'was')) %}
{% set pageTitle = title.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukRadios({
      classes: "govuk-radios",
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: question.answers.faint.answerId,
          text: question.answers.faint.text
        },
        {
          value: question.answers.distinct.answerId,
          text: question.answers.distinct.text
        },
        {
          value: question.answers.strong.answerId,
          text: question.answers.strong.text
        },
        {
          value: question.answers.veryStrong.answerId,
          text: question.answers.veryStrong.text
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
