{% extends 'form-layout.html' %}

{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {% set sourceDetailsHtml %}
      {{ govukTextarea({
        id: "yesDetails",
        name: "yesDetails",
        errorMessage: findErrorMessageById(errorSummary, "yesDetails"),
        classes: "govuk-!-width-two-third",
        label: {
          text: question.answers.yesDetails.text
        }
      }) }}
      {% endset -%}

      {{ govukRadios ({
        id: "smellSource",
        name: "smellSource",
        errorMessage: findErrorMessageById(errorSummary, "smellSource"),
        fieldset: {
          legend: {
            text: question.text,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, a business, site or activity you think is responsible for the smell."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: sourceDetailsHtml
            },
            checked: smellSource === 'yes'
          },
          {
            value: "no",
            text: "No",
            checked: smellSource === 'no'
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

  </div>
</div>

{% endblock %}
