{% extends 'layout.html' %}

{% set pageTitle = 'Report blockage in a river' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    <p>Use this service to report blockage in a river in England.Blockages can include:</p>    
    <ul class="govuk-list govuk-list--bullet">
      <li>fallen trees or other vegetation</li>
      <li>vehicles</li>
      <li>a build-up of material such as stone or soil, or rubbish</li>
      <li>someone deliberately blocking the river</li>
    </ul>
    <div class="govuk-inset-text">There's a different way to report <a rel="external" href="https://naturalresources.wales/about-us/contact-us/report-an-incident/?lang=en">a blockage to a river in Wales</a>, <a rel="external" href="https://www.mygov.scot/report-environmental-incident">blockage to a river  in Scotland</a> or <a rel="external" href="https://www.nidirect.gov.uk/information-and-services/environment-and-outdoors/environmental-quality-your-area">blockage to a river in Northern Ireland</a>.</div>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p>You'll need to know the location of the blockage.</p>
    <p>You only need to give your personal details if you're happy to be contacted for more information.</p>
    <p>If you want to send photos, you'll need to give an email address.</p>
    <div class="govuk-inset-text">Do not use this service to report blockages to other watercourses, such as streams or canals. <a href="https://www.gov.uk/find-local-council">Contact your local council</a> instead.</div>
    {{ govukButton({
      text: "Start now",
      href: startHref,
      isStartButton: true
    }) }}
    <h2 class="govuk-heading-m">Report a blockage in a river by phone</h2>
    <p>If you're unable to use the online service you can call the Environment Agency.</p>
    <div class="contact">
      <p>Environment Agency incident hotline<br />
      Telephone: 0800 80 70 60<br />
      24 hours service</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charrges</a></p>
    </div>
    <h2 class="govuk-heading-m">After you make your report</h2>
    <p>The Environment Agency will review your report and decide if any action is needed.</p>
    <p>You will not get updates on your report.</p>
    <h2 class="govuk-heading-m">Report other problems with your environment</h2>
    <p>How you report other environmental problems depends on the type of issue and where it is. You may have to report it to:
      <ul class="govuk-list govuk-list--bullet">
    <li>the Environment Agency</li>
    <li>your local council</li>
    <li>your utilities company</li>
    </ul>
    <p><a href="https://www.gov.uk/report-environmental-problem">Find out how to report other problems with your environment</a>.</p>
  </div>
</div>

{% endblock %}
