{% extends 'form-layout.html' %}

{% set pageTitle = 'Smart Incident Reporting' %}
{% set hideBackLink = true %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Smart Incident Reporting
    </h1>
    <p class="govuk-body">
      <a href="/water-pollution-start" class="govuk-link">Water pollution</a>
    </p>
    <p class="govuk-body">
      <a href="/smell-start" class="govuk-link">Odour</a>
    </p>
    <p class="govuk-body">
      <a href="/illegal-fishing-start" class="govuk-link">Illegal fishing</a>
    </p>
    <p class="govuk-body">
      <a href="/blockage-start" class="govuk-link">Blockage in a watercourse</a>
    </p>
    <p class="govuk-body">
      <a href="/report-a-regulated-site-home" class="govuk-link">Report a regulated site</a>
    </p>
  </div>
</div>

{% endblock %}