{% extends 'form-layout.html' %}

{% set pageTitle = 'Sign in' %}
{% set hideBackLink = true %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Smart Incident Reporting
    </h1>
    <div class="govuk-inset-text">This service is in 'private beta'. This means we limit the number of people using it, so we can test it and make improvements, before it's available to everyone.</div>
    <p>If you were not directly given this link or want to report your problem by phone, you can <a href="https://www.gov.uk/report-an-environmental-incident">report an environmental incident</a> on GOV.UK.</p>
  </div>
</div>

{% endblock %}
