{% extends 'form-layout.html' %}

{% set pageTitle = 'Sign in' %}
{% set hideBackLink = true %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Smart Incident Reporting
    </h1>
    <p class="govuk-body">
      <a href="/water-pollution-start" class="govuk-link">Water Pollution</a>
    </p>
    <p class="govuk-body">
      <a href="/smell-start" class="govuk-link">Odour</a>
    </p>
  </div>
</div>

{% endblock %}
