{% extends 'layout.html' %}

{% set pageTitle = 'Ordnance Survey terms and conditions' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Ordnance Survey terms and conditions</h1>
    <p>Use of the Ordnance Survey data is subject to the following conditions:</p>
    <ol class="govuk-list govuk-list--number">
      <li>You are granted a non-exclusive, royalty free, revocable licence solely to view the licensed data for non-commercial purposes for the period during which we make it available.</li>
      <li>You are not permitted to copy, sub-license, distribute, sell or otherwise make available the Licensed Data to third parties in any form.</li>
      <li>Third party rights to enforce the terms of this licence shall be reserved to Ordnance Survey.</li>
    </ol>
  </div>
</div>
{% endblock %}
