{% extends 'layout.html' %}

{% set hideBackLink = true %}
{% set pageTitle = 'Report sent' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Report sent",
      html: "We have received your report"
    }) }}
    {% if(photoUploadDetails.userAgreedForImages and photoUploadDetails.reportersEmail !== '') %}   
      <p>We have sent a confirmation of your report and a reference number to <strong>{{ photoUploadDetails.reportersEmail }}</strong></p>    
    {% endif %}      

    {% if(photoUploadDetails.userAgreedForImages) %}
      <h2 class="govuk-heading-m">
        Upload images
      </h2>
      <p>You can now <a href="{{ mediaUploadLink }}">upload any photos</a> you have that might help us investigate the problem.</p>
    {% endif %}     
    {% if(photoUploadDetails.userAgreedForImages and photoUploadDetails.reportersEmail !== '') %}             
      <p>We've also included this link  in your confirmation email, if you want to do this later.</p>    
    {% endif %}

    <h2 class="govuk-heading-m">
      What happens next
    </h2>
    <p>The Environment Agency will look into the problem. This involves:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>checking for similar reports in the area</li>
      <li>deciding how much danger to the environment there is</li>
      <li>deciding how best to deal with the problem</li>
    </ul>
    <p>We may:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>send people to investigate</li>
      <li>contact any people or organisations involved</li>
      <li>pass details of the problem to local teams or other organisations</li>
    </ul>
    <p>If you gave an email address, check your email for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>confirmation of your report and a reference number</li>
      <li>how to send us photos to add to your report, if you said you had any and we need to see them</li>
    </ul>
    <p>Otherwise, we will only contact you if we need more information about the problem - you do not need to call us.</p>
    {{ govukInsetText({
      text: "The Environment Agency incident hotline cannot give updates on your report."
    }) }}
    <p><a href="/feedback ">Give feedback</a> on the service to help improve it.</p>
  </div>
</div>

{% endblock %}
