{% extends 'layout.html' %}

{% set hideBackLink = true %}
{% set pageTitle = 'Report received' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Report sent",
      html: "We have received your report"
    }) }}
    <h2 class="govuk-heading-m">
      What happens next
    </h2>
    <p>An agent will look into the problem. This may include:
    <ul class="govuk-list govuk-list--bullet">
      <li>checking for similar reports in the area</li>
      <li>sending someone to investigate if needed</li>
      <li>passing details of the problem to a local team or another organisation who can help</li>
    </ul>
    {{ govukInsetText({
      text: "Do not contact the Environment Agency - they cannot give updates about your report."
    }) }}
    <p>The online service is monitored from 9am to 5pm, Monday to Friday, not including bank holidays. See how to <a href="https://www.gov.uk/report-an-environmental-incident">report environmental problems</a> outside these times.</p>

    <p><a href="/">Make another report</a>.</p>
    <p><a href="/feedback">Give feedback</a> on the service to help improve it.</p>
  </div>
</div>

{% endblock %}