{% extends 'layout.html' %}

{% set hideBackLink = true %}
{% set pageTitle = 'Report sent' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Report sent",
      html: "We have received your report"
    }) }}
    {% if(photoUploadDetails.reportersEmail !== '') %}   
      <p>We have sent a confirmation of your report and a reference number to <strong>{{ photoUploadDetails.reportersEmail }}</strong></p>    
    {% endif %}      

    {% if(photoUploadDetails.userAgreedForImagesAndVideo) %}
      <h2 class="govuk-heading-m">
        Photos and <video src=""></video>
      </h2>
      {% if(photoUploadDetails.userAgreedForImages) %}    
        <p>You can now <a href="{{ photoUploadDetails.mediaUploadLink }}">upload any photos</a> you want to include with your report.</p>    
        {{ govukButton({
          text: "Upload photos",
          href: photoUploadDetails.mediaUploadLink
        }) }}
        <p>We have also sent you this link by email.</p>    
      {% endif %}
      <p>Someone will contact you separately if we need to see any videos.</p> 
    {% endif %} 

    <h2 class="govuk-heading-m">
      What happens next
    </h2>
    <p>The Environment Agency will look into the problem. This involves:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>checking for similar reports in the area</li>
      <li>deciding how much danger to the environment there is</li>
      <li>deciding how best to deal with the problem</li>
    </ul>
    <p>We may:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>send people to investigate</li>
      <li>contact any people or organisations involved</li>
      <li>pass details of the problem to local teams or other organisations</li>
    </ul>
    <p>If you gave an email address, check your email for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>confirmation of your report and a reference number</li>
      <li>how to send us photos to add to your report, if you said you had any and we need to see them</li>
    </ul>
    {% if(photoUploadDetails.reportersEmail != '' or photoUploadDetails.hasPhoneNumber) %} 
      <p>We will only contact you if we need more information about the problem - you do not need to call us.</p>
    {% endif %}
    {{ govukInsetText({
      text: "The Environment Agency incident hotline cannot give updates on your report."
    }) }}
    <p><a href="/feedback ">Give feedback</a> on the service to help improve it.</p>
  </div>
</div>

{% endblock %}
