{% extends 'layout.html' %}

{% set pageTitle = 'Terms for uploading photos' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    <p class="govuk-body">By uploading any photos to the Report an environmental problem service you agree to these terms.</p>
    <h2 class="govuk-heading-m">Photos you upload</h2>
    <p class="govuk-body">You will only upload photos that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you own or have the right to upload from the owner</li>
      <li>do not infringe copyright, privacy, or other legal rights</li>
      <li>are relevant to a report made using the Report an environmental problem service</li>
      <li>are accurate to the best of your knowledge and are not deliberately misleading</li>
    </ul>
    <h2 class="govuk-heading-m">Photos you must not upload</h2>
    <p class="govuk-body">You will not upload photos that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>include personal data (for example identifiable individuals or number plates) not relevant to a report made using the Report an environmental problem service</li>
      <li>are offensive, abusive or defamatory</li>
      <li>inappropriately feature children or vulnerable individuals</li>
      <li>could risk anyone's personal safety</li>
    </ul>
    <p class="govuk-body">Photos that do not meet these rules may be referred to law enforcement or other legal authorities.</p>
    <h2 class="govuk-heading-m">How we use your photos</h2>
    <p class="govuk-body">Photos will be attached to the relevant report made using the Report an environmental problem service. This includes any personal data given when the report was made.</p>
    <p class="govuk-body">The Environment Agency will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>view, copy, store, and analyse the photo</li>
      <li>store the photo for up to 12 months</li>
    </ul>
    <p class="govuk-body">Photos will only be used by authorised EA personnel to investigate a potential environmental incident, as part of their official duties.</p>
    <p class="govuk-body">We will not share your photos with anyone else unless we have to do so by law.</p>
    <p class="govuk-body">Photos are stored and processed in accordance with our <a href="/privacy-notice" class="govuk-link">privacy notice</a>.</p>
    <p class="govuk-body">You can remove consent for us to use an image at any time by contacting:</p>
    <p class="govuk-body">Email: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
      Telephone: 03708 506 506</p>
  </div>
</div>
{% endblock %}
