{% extends 'form-layout.html' %}

{% set pageTitle = 'Select journey to submit' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukRadios({
        name: "journey",
        id: "journey",
        errorMessage: findErrorMessageById(errorSummary, "answerId"),
        fieldset: {
          legend: {
            html: pageTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },        
        items: [
        {
          value: '100',
          text: 'Water pollution'
        },
        {
          value: '200',
          text: 'Odour'
        },
        {
          value: '1800',
          text: 'Illegal fishing'
        },
        {
          value: '300',
          text: 'Blockage in a river'
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

  </div>
</div>

{% endblock %}
