{% extends 'form-layout.html' %}

{% block pageTitle %}
Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
        titleText: "Thank you",
        html: "We've got your report<br><br>Reference: EAJ2123F"
        }) }}


        <h2 class="govuk-heading-m">
            What happens next
        </h2>

        <p>The Environment Agency will:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>look into the incident</li>
            <li>check for any similar reports in the area</li>
            <li>decide how to deal with the incident, which may include sending people to investigate</li>
            <li>pass details of the problem to local teams or other organisations if necessary</li>
            <li>contact you only if we need more information, if you've left your contact details</li>
            <li>not give your personal details to anyone else</li>
        </ul>
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
        {{ govukInsetText({
        text: "Do not contact the Environment Agency call centre to check we've got your report."
        }) }}
        <p><a href="public-report-{{ data['incidentType']}}">See your report and track the response status online</a>
        </p>
        <!-- <p><a style="text-decoration:none" href='GOVemail.html'><font color="#d4d2d2">See email confirmation</font></a></p>
        <p>
          <a href="#">What did you think of this service?</a> (takes 30 seconds)
        </p> -->


    </div>
</div>

{% endblock %}
