{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/water-quality/impact/aquaticlife-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <!-- OPTIONAL LOOP FOR OTHER WATER LIFE AFFECTED IF NEEDED

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

          {% set otherHtml %}
          {{ govukInput({
            id: "other-waterquality-life",
            name: "other-waterquality-life",
            spellcheck: false,
            classes: "govuk-!-width-two-third",
            label: {
              text: "Give details"
            }
          }) }}
          {% endset -%}

        {% set aquaticlifedetailsHtml %}
        {{ govukCheckboxes({
          name: "waterquality-description",
          fieldset: {
            legend: {
              text:  "Which of the following have you seen affected?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            value: "fish",
            text: "Fish"
          },
            {
              value: "birds",
              text: "Birds, such as ducks"
            },
            {
              value: "other",
              text: "Something else",
              conditional: {
                  html: otherHtml
                  }
            }
          ]
        }) }}
        {% endset -%}

        -->

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "deadfish",
            fieldset: {
              legend: {
                text: "Have you seen any dead fish nearby?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
