{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/water-quality/aquaticlife-two" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios",
            name: "deadfish",
            fieldset: {
              legend: {
                text: "How many dead fish have you seen?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "20",
                text: "At least 20, or more"
              },
              {
                value: "10",
                text: "10 or more"
              },
              {
                value: "less",
                text: "Less than 10"
              },
              {
                divider: "or"
              },
              {
                value: "dunno",
                text: "You're not sure"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
