<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {{ govukRadios({
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      fieldset: {
        legend: {
          html: pageHeader,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Answer based on the pollution you've actually seen."
      },
      items: [
        {
          value: question.answers.yes.answerId,
          text: question.answers.yes.text
        },
        {
          value: question.answers.no.answerId,
          text: question.answers.no.text
        },
        {
          divider: "or"
        },
        {
          value: question.answers.doNotKnow.answerId,
          text: question.answers.doNotKnow.text
        }
      ]
    }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

  </div>
</div>