<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% call govukFieldset({
      legend: {
        text: pageHeader,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    }) %}

    {{ helpHtml | safe }}
    
    {{ govukRadios({
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      items: [
        {
          value: question.answers.more.answerId,
          text: question.answers.more.text,
          checked: getAnswer(answers, question.answers.more.answerId)
        },
        {
          value: question.answers.less.answerId,
          text: question.answers.less.text,
          checked: getAnswer(answers, question.answers.less.answerId)
        }
      ]
    }) }}

    {% endcall %}

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>