<h2 class="govuk-heading-l">If you cannot report online</h2>
<p>You can report the problem to the Environment Agency over the phone.</p>
<!--
  <ul class="govuk-list govuk-list--bullet">
<li><a href="index-waterquality">water and air pollution</a></li>
<li><a href="index-smells">unpleasant smells</a></li>
<li>dead fish</li>
<li><a href="index-flood">flooding</a> from main rivers or the sea</li>
<li><a href="index-flood">blockages to rivers</a> such as fallen trees or vehicles</li>
<li><a href="index-flood">problems with flood defences or water management</a>, such as sluice gates or river banks</li>
<li><a href="index-fishing">illegal fishing</a></li>
<li>people taking or using water illegally</li>
<li>illegal waste dumping or other illegal activity involving waste disposal sites</li>
</ul>
-->
<div class="govuk-inset-text">
<ul class="govuk-list">
  <li>Environment Agency incident hotline</li>
  <li>Telephone: 020 7946 0101</li>
  <li>24 hours</li>
</ul>
</div>

<h2 class="govuk-heading-l">Other problems with your environment</h2>

<p>How you report other problems affecting the environment depends on the type of problem it is and where it's happening. You may have to report it to:
  <ul class="govuk-list govuk-list--bullet">
<li>the Environment Agency</li>
<li>your local council</li>
<li>your utilities company</li>
</ul>
<p><a href="browse">Find out how to report other problems with your environment</a></p>
