{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{{ govukInput({
  id: "town",
  name: "town",
  spellcheck: false,
  classes: "govuk-!-width-two-third",
  label: {
    text: "Nearest town or village",
    classes: "govuk-label--m",
    isPageHeading: false
  }
}) }}
{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "More details",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Give a text description, or give a what3words reference or map coordinates"
  }
}) }}

{{ govukButton({
  text: "Continue"
}) }}
