{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Where can you notice the smell?
      </h1>
      <form class="form" action="smell-source" method="post">
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Give any detail about the area affected by the smell that would help us investigate",
          classes: "govuk-label--m",
          isPageHeading: true
        }
      }) }}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Postcode (optional)"
        },
        classes: "govuk-input--width-10",
        id: "width-10",
        name: "postcode"
      }) }}

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "home-address",
        fieldset: {
          legend: {
            text: ""
          }
        },
        items: [
          {
            value: "yes",
            text: "This is my home"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
