{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="clothes" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios",
            name: "noticeable",
            fieldset: {
              legend: {
                text: "How noticeable is the smell when it's there?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "strong",
                text: "You can smell it all the time when breathing normally"
              },
              {
                value: "persistent",
                text: "You notice it if you breathe in deeply"
              },
              {
                value: "faint",
                text: "It is quite faint"
              },
              {
                value: "veryfaint",
                text: "It is very faint, you can only notice it if you try"
              },
              {
                divider: "or"
              },
              {
                value: "do-not-know",
                text: "You cannot remember"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
