{% extends 'form-layout.html' %}

{% set pageTitle = 'Is there anything else you\'d like to add' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukTextarea({
      name: "otherInfo",
      id: "otherInfo",
      rows: "10",
      label: {
        text: "Is there anything else you'd like to add (optional)?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "Include things like where the pollution is, what it looks like, how much of the water it covers and where it's coming from (if known) "
      },
      errorMessage: findErrorMessageById(errorSummary, 'otherInfo')
    }) }}

    {{ govukButton({
      text: "Send report"
    }) }}

  </div>
</div>

{% endblock %}
