{% extends 'form-layout.html' %}

{% set pageTitle = 'What do you think the pollution is' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set otherHtml %}
      {{ govukInput({
        id: "somethingElseDetail",
        name: "somethingElseDetail",
        spellcheck: false,
        classes: "govuk-!-width-two-third",
        value: getAnswer(answers, question.answers.somethingElseDetail.answerId),
        label: {
          text: questions.answers.somethingElseDetail.text
        }
      }) }}
      {% endset -%}

    {{ govukCheckboxes({
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      fieldset: {
        legend: {
          text:  pageTitle + "?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: question.answers.sewage.answerId,
          text: question.answers.sewage.text,
          checked: getAnswer(answers, question.answers.sewage.answerId)
        },
        {
          value: question.answers.chemical.answerId,
          text: question.answers.chemical.text,
          checked: getAnswer(answers, question.answers.chemical.answerId)
        },
        {
          value: question.answers.rural.answerId,
          text: question.answers.rural.text,
          checked: getAnswer(answers, question.answers.rural.answerId)
        },
        {
          value: question.answers.refuse.answerId,
          text: question.answers.refuse.text,
          checked: getAnswer(answers, question.answers.refuse.answerId)
        },
        {
          value: question.answers.somethingElse.answerId,
          text: question.answers.somethingElse.text,
          checked: getAnswer(answers, question.answers.somethingElse.answerId),
          conditional: {
              html: otherHtml
            }
        },
        {
          divider: "or"
        },
        {
          value: question.answers.unknown.answerId,
          text: question.answers.unknown.text,
          checked: getAnswer(answers, question.answers.unknown.answerId)
        }
      ]
    }) }}
 

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
