{% extends 'form-layout.html' %}

{% set pageTitle = 'How far along the ' + waterFeature + ' does the pollution spread' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukRadios({
        name: "answerId",
        id: "answerId",
        errorMessage: findErrorMessageById(errorSummary, "answerId"),
        fieldset: {
          legend: {
            html: pageTitle + '?',
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Estimate as best you can. We'll check the exact length if needed."
        },
        items: [
        {
          value: question.answers.stretches10to100m.answerId,
          text: question.answers.stretches10to100m.text,
          checked: getAnswer(answers, question.answers.stretches10to100m.answerId)
        },
        {
          value: question.answers.stretches100to500m.answerId,
          text: question.answers.stretches100to500m.text,
          checked: getAnswer(answers, question.answers.stretches100to500m.answerId)
        },
        {
          value: question.answers.stretches500to1000m.answerId,
          text: question.answers.stretches500to1000m.text,
          checked: getAnswer(answers, question.answers.stretches500to1000m.answerId)
        },
        {
          value: question.answers.over1km.answerId,
          text: question.answers.over1km.text,
          checked: getAnswer(answers, question.answers.over1km.answerId)
        },
          {
            divider: "or"
          },
          {
            value: question.answers.youDoNotKnow.answerId,
            text: question.answers.youDoNotKnow.text,
            checked: getAnswer(answers, question.answers.youDoNotKnow.answerId)
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

  </div>
</div>

{% endblock %}
