{% extends 'layout.html' %}

{% set pageTitle = 'Call the Environment Agency incident hotline' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>

    <p>We need to find the site causing the problem, to make sure it's something the Environment Agency is responsible for.</p>
    <p>Call the Environment Agency incident hotline to speak to an adviser.</p>
    <p>They'll take your report over the phone, or will let you know if you should report the problem to someone else, like your local council.</p>

    <div class="govuk-inset-text">
      <ul class="govuk-list">
        <li>Environment Agency incident hotline</li>
        <li>Telephone: 0800 80 70 60 </li>
        <li>24 hours</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}