{% extends 'form-layout.html' %}

{% set pageTitle = 'Other location information (optional)' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Other location information (optional)</h1>
    <p>Add any other information you think might help us find the location.</p>
    <p>For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>river features such as bridges or weirs</li>
      <li>local access, such as nearby roads or paths</li>      
    </ul>
    
    {{ govukTextarea({
      name: "otherLocationInfo",
      id: "otherLocationInfo",
      rows: "10",
      value: answers,
      label: {
        text: "Enter location information",
        classes: "govuk-label--m",
        isPageHeading: true
      }
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>

{% endblock %}
