{% extends 'form-layout.html' %}

{% set pageTitle = questionText %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukRadios({
      classes: "govuk-radios",
      id: "answerId",
      name: "answerId",
      fieldset: {
        legend: {
          text: pageTitle + "?",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      items: [
        {
          value: question.answers.yes.answerId,
          text: question.answers.yes.text,
          checked: (answers === question.answers.yes.answerId)
        },
        {
          value: question.answers.no.answerId,
          text: question.answers.no.text,
          checked: (answers === question.answers.no.answerId)
        }
      ],
      errorMessage: findErrorMessageById(errorSummary, 'answerId')
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>

{% endblock %}
