{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/water-quality/appearance" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

          {% set otherHtml %}
          {{ govukInput({
            id: "other-appearance",
            name: "other-appearance",
            spellcheck: false,
            classes: "govuk-!-width-two-third",
            label: {
              text: "Describe the appearance"
            }
          }) }}
          {% endset -%}

          {% set objectsHtml %}
          {{ govukInput({
            id: "waterquality-objects",
            name: "waterquality-objects",
            spellcheck: false,
            classes: "govuk-!-width-two-third",
            label: {
              text: "Describe the appearance"
            }
          }) }}
          {% endset -%}

        {{ govukCheckboxes({
          name: "waterquality-appearance",
          fieldset: {
            legend: {
              text:  "What can you see in or on the water?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "Choose as many as you want - this can help identify what's in the water and decide how best to deal with it."
          },
          items: [
          {
            value: "cloudy",
            text: "Cloudy or grey water"
          },
            {
              value: "rainbow",
              text: "A 'rainbow' film"
            },
            {
              value: "streaked",
              text: "White or brown streaks"
            },
            {
              value: "scum",
              text: "A foam or scum on top"
            },
            {
              value: "slimy",
              text: "Slime around plants or stones (either under water or along the banks)"
            },
            {
              value: "littered",
              text: "Recognisable waste or objects, for example toilet paper or containers",
              conditional: {
                  html: objectsHtml
                  }
            },
            {
              value: "other",
              text: "Something else",
              conditional: {
                  html: otherHtml
                  }
            }
          ]
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
