{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How far along the {{ data['pollution-watertype']}} do you estimate the pollution stretches?
      </h1>

      <form class="form" action="/water-quality/extent-two-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukRadios({
          name: "waterquality-appearance",
          hint: {
            text: "This means how far along the side of the water you're on can you still see the pollution."
          },
          items: [
          {
            value: "500m",
            text: "500 metres or more"
          },
            {
              value: "100m",
              text: "100 to 500 metres"
            },
            {
              value: "less-than-100",
              text: "Less than 100 metres"
            },
            {
              value: "small",
              text: "A few metres (you can see where it begins and ends from one place)"
            },
            {
              divider: "or"
            },
            {
              value: "dunno",
              text: "You're not sure"
            }
          ]
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
