{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How far across the {{ data['pollution-watertype']}} does the pollution stretch?
      </h1>
      <form class="form" action="/water-quality/extent-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukRadios({
          name: "pollution-width",
          hint: {
            text: "Measure from where you saw the pollution to the opposite side of the water."
          },
          items: [
          {
            value: "all",
            text: "Covers it fully (touching both sides)"
          },
            {
              value: "half",
              text: "Half of the width or more"
            },
            {
              value: "oneside",
              text: "Less than half the width"
            },
            {
              value: "onebank",
              text: "It's only along one side"
            },
            {
              divider: "or"
            },
            {
              value: "dunno",
              text: "You're not sure"
            }
          ]
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
