{% extends 'form-layout.html' %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How far along the {{ data['pollution-watertype']}} does the pollution stretch?
      </h1>

      <form class="form" action="/water-quality/extent-three" method="post">
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          hint: {
            text: "Estimate how far along the side of the water you're on you can see the pollution.
            "
          },
          id: "event-name",
          name: "event-name"
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
