{% extends 'form-layout.html' %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/water-quality/recurring" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        name: "recurring",
        fieldset: {
          legend: {
            text: "Have you seen pollution here before now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, it happens regularly"
          },
          {
            value: "yes-now",
            text: "Yes, now and then"
          },
          {
            value: "no",
            text: "No, this is the first time"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
