{% extends 'form-layout.html' %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/water-quality/smell-desc" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {% set smelldetailsHtml %}
        {{ govukTextarea({
          id: "smell-details",
          name: "smell-details",
          classes: "govuk-!-width-two-third",
          label: {
            text: "Describe the smell",
            classes: "govuk-fieldset__label--l"
          }
        }) }}
        {% endset -%}

        {{ govukRadios ({
          name: "waterquality-source",
          fieldset: {
            legend: {
              text: "Is there a smell?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: smelldetailsHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}




<!--
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios",
            name: "noticeable",
            fieldset: {
              legend: {
                text: "Does the water have a smell?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "If the same smell has happened more than once, think only about how strong it is on this occasion."
            },
            items: [
              {
                value: "strong",
                text: "You can smell it when breathing normally"
              },
              {
                value: "persistent",
                text: "You notice it if you breathe in deeply"
              },
              {
                value: "faint",
                text: "It is quite faint"
              },
              {
                value: "veryfaint",
                text: "It is very faint, you can only notice it if you try"
              },
              {
                divider: "or"
              },
              {
                value: "do-not-know",
                text: "You do not know"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
-->
      </form>

    </div>
  </div>

{% endblock %}
