{% extends 'form-layout.html' %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <form class="form" action="check-for-flood" method="post"> -->
    <form class="form" action="/water-quality/source" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {% set sourcedetailsHtml %}
      {{ govukTextarea({
      id: "source-details",
      name: "source-details",
      classes: "govuk-!-width-two-third",
      label: {
      text: "Give details, including an address if known.",
      classes: "govuk-fieldset__label--l"
      }
      }) }}
      {% endset -%}

      {{ govukRadios ({
      name: "waterquality-source",
      fieldset: {
      legend: {
      text: "Do you know where the pollution is coming from?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      hint: {
      text: "For example, a business, an object in the river, or an activity, such as muckspreading."
      },
      items: [
      {
      value: "yes",
      text: "Yes",
      conditional: {
      html: sourcedetailsHtml
      }
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
