{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/water-quality/substanceSubmit" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {% set otherHtml %}
          {{ govukInput({
            id: "substance",
            name: "substance",
            spellcheck: false,
            classes: "govuk-!-width-two-third",
            label: {
              text: "Give details"
            }
          }) }}
          {% endset -%}

        {{ govukCheckboxes({
          name: "waterquality-substance",
          fieldset: {
            legend: {
              text:  "What do you think is in the water?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "This can help us locate where the pollution may be coming from and decide how to deal with it."
          },
          items: [
          {
            value: "sewage",
            text: "Sewage"
          },
            {
              value: "chemical",
              text: "Oil or petrol"
            },
            {
              value: "rural",
              text: "Agricultural waste, for example from muck spreading"
            },
            {
              value: "refuse",
              text: "Rubbish or refuse"
            },
            {
              value: "other",
              text: "Another substance",
              conditional: {
                  html: otherHtml
                  }
            },
            {
              divider: "or"
            },
            {
              value: "do-not-know",
              text: "You're not sure"
            }
          ]
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
