{% extends 'form-layout.html' %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/water-quality/substance-v2" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {% from "govuk/components/details/macro.njk" import govukDetails %}

          {% set otherHtml %}
          {{ govukInput({
            id: "substance",
            name: "substance",
            spellcheck: false,
            classes: "govuk-!-width-two-third",
            label: {
              text: "Give details"
            }
          }) }}
          {% endset -%}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What do you think is in the water?
                </h1>
              </legend>
              <div id="waste-hint" class="govuk-hint">
                This can help us locate where the pollution may be coming from and decide how to deal with it.
              </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="sewage" name="sewage" type="checkbox" value="sewage">
                    <label class="govuk-label govuk-checkboxes__label" for="sewage">
                      Sewage
                    </label>
                  </div>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        See what sewage in water looks like
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <h4 class="govuk-heading-m">What to look for</h4>
                      <img src="/public/images/sewage.png" alt="" width="100%">
                      <p class="govuk-body govuk-caption-m govuk-hint">Sewage turns the water brown, dark and murky. </p>
                    </div>
                  </details>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="chemical" name="chemical" type="checkbox" value="chemical">
                    <label class="govuk-label govuk-checkboxes__label" for="chemical">
                      Oil or petrol
                    </label>
                  </div>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        See what oil or petrol in water looks like
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <h4 class="govuk-heading-m">What to look for</h4>
                      <img src="/public/images/water-oil.png" alt="" width="100%">
                      <p class="govuk-body govuk-caption-m govuk-hint">Oil or petrol usually has a rainbow film on the surface of the water, may also smell strongly.
                      </p>
                    </div>
                  </details>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="rural" name="rural" type="checkbox" value="rural">
                    <label class="govuk-label govuk-checkboxes__label" for="rural">
                      Agricultural waste, for example from muck spreading
                    </label>
                  </div>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        See what agricultural waste looks like
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <h4 class="govuk-heading-m">What to look for</h4>
                      <img src="/public/images/agricultural_waste.png" alt="" width="100%">
                      <p class="govuk-body govuk-caption-m govuk-hint">Agricultural waste will leave brown, dark or green smears, may be a light rainbow film and algae.
                      </p>
                    </div>
                  </details>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="refuse" name="refuse" type="checkbox" value="refuse">
                    <label class="govuk-label govuk-checkboxes__label" for="refuse">
                      Rubbish or refuse
                    </label>
                  </div>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        See what rubbish or refuse looks like
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <h4 class="govuk-heading-m">What to look for</h4>
                      <img src="/public/images/refuse.png" alt="" width="100%">
                      <p class="govuk-body govuk-caption-m govuk-hint">Rubbish or or refuse means you can clearly see waste or dumped objects in the water, for example domestic bin bags.
                      </p>
                    </div>
                  </details>

                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                        Another substance
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="substance">
                          Give details
                        </label>
                        <input class="govuk-input govuk-!-width-two-third" id="substance" name="substance" type="text" spellcheck="false">
                      </div>
                    </div>

                    <div class="govuk-checkboxes__divider">or</div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waterquality-substance-7" name="waterquality-substance" type="checkbox" value="do-not-know">
                      <label class="govuk-label govuk-checkboxes__label" for="waterquality-substance-7">
                  You're not sure
                </label>

                    </div>



                </div>

            </fieldset>
          </div>


          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
