{% extends 'form-layout.html' %}

{% set pageTitle = question.text.replace('?', '') %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        {% set otherHtml %}
        {{ govukInput({
          id: "otherDetail",
          name: "otherDetail",
          errorMessage: findErrorMessageById(errorSummary, "otherDetail"),
          spellcheck: false,
          classes: "govuk-!-width-two-third",
          label: {
            text: question.answers.otherDetail.text
          }
        }) }}
        {% endset -%}

      {{ govukCheckboxes({
        name: "smellDescription",
        id: "smellDescription",
        errorMessage: findErrorMessageById(errorSummary, "smellDescription"),
        fieldset: {
          legend: {
            text:  question.text,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: question.answers.sewage.answerId,
            text: question.answers.sewage.text
          },
          {
            value: question.answers.rubbish.answerId,
            text: question.answers.rubbish.text
          },
          {
            value: question.answers.burning.answerId,
            text: question.answers.burning.text
          },
          {
            value: question.answers.chemical.answerId,
            text: question.answers.chemical.text
          },
          {
            value: question.answers.rural.answerId,
            text: question.answers.rural.text
          },
          {
            value: question.answers.other.answerId,
            text: question.answers.other.text,
            conditional: {
                html: otherHtml
                }
          },
          {
            divider: "or"
          },
          {
            value: question.answers.youCannotDescribeIt.answerId,
            text: question.answers.youCannotDescribeIt.text
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
  </div>
</div>

{% endblock %}
