{% extends 'form-layout.html' %}
{% set pageTitle = "Is the blockage in a river" %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    {{ govukRadios({ 
      classes: "govuk-radios", 
      name: "isRiver",
      id: "isRiver",
      fieldset: {
        legend: {
          text: pageTitle + "?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "This can change who's responsible for clearing the blockage and who may need to know about it."
      },
      errorMessage: findErrorMessageById(errorSummary, "isRiver"), 
      items: [ 
      {
        value: "yes",
        text: "Yes",
        checked: isRiver === 'yes'
      },
      {
        value: "no",
        text: "No, it's some other kind of water",
        checked: isRiver === 'no'
      },
      {
        value: "notSure",
        text: "You're not sure",
        checked: isRiver === 'notSure'
      }
      ] 
    }) }} 

    {{ govukButton({ 
      text: "Continue" 
    }) }} 
  </div> 

</div> 
{% endblock %}