{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/fishing/otherinfo/answer" method="post">
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Can you give us any other information?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "For example, a description of the people involved or their vehicle."
        }
      }) }}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Vehicle registration (if known)"
        },
        classes: "govuk-input--width-10",
        id: "width-10",
        name: "vrn"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
