{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/fishing/reportreason/answer" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

          {% set otherHtml %}
          {{ govukInput({
            id: "other-activity",
            name: "other-activity",
            spellcheck: false,
            classes: "govuk-!-width-two-third",
            label: {
              text: "Give details"
            }
          }) }}
          {% endset -%}

        {{ govukCheckboxes({
          name: "fishIllegality",
          fieldset: {
            legend: {
              text: "Why do you think the fishing is illegal?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "location",
            text: "Fishing is not allowed here"
          },
            {
              value: "equipment",
              text: "The type of equipment being used"
            },
            {
              value: "licence",
              text: "Fishing without a licence"
            },
            {
              value: "type-of-fish",
              text: "The type of fish being taken"
            },
            {
              value: "other",
              text: "Another reason",
              conditional: {
                  html: otherHtml
                  }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
