{% extends 'form-layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/fishing/typeoffish/answer" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukCheckboxes({
          name: "fish-type",
          fieldset: {
            legend: {
              text: "Are they catching any of these types of fish?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "salmon",
            text: "Salmon"
          },
            {
              value: "lamprey",
              text: "Lamprey eel"
            },
            {
              value: "seatrout",
              text: "Sea trout"
            },
            {
              value: "coarse",
              text: "Coarse fish"
            },
            {
              value: "other",
              text: "Other type of fish"
            },
            {
              divider: "or"
            },
            {
              value: "dunno",
              text: "You do not know"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
