{% extends 'form-layout.html' %}

{% set pageTitle = 'In what kind of water have you seen illegal fishing?' %}

{% block formContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% set otherHtmlRiverDetails %}
    {{ govukInput({
      id: "riverDetails",
      name: "riverDetails",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      value: getAnswer(answers, question.answers.riverDetails.answerId),
      label: {
        text: "Name of river (if known)"
      }
    }) }}
    {% endset %}

    {% set otherHtmlLakeOrReservoirDetails %}
    {{ govukInput({
      id: "lakeOrReservoirDetails",
      name: "lakeOrReservoirDetails",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      value: getAnswer(answers, question.answers.lakeOrReservoirDetails.answerId),
      label: {
        text: "Name of water (if known)"
      }
    }) }}
    {% endset %}

    {% set otherHtmlCanalDetails %}
    {{ govukInput({
      id: "canalDetails",
      name: "canalDetails",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      value: getAnswer(answers, question.answers.canalDetails.answerId),
      label: {
        text: "Name of canal (if known)"
      }
    }) }}
    {% endset %}

    {% set otherHtmlStreamOrWatercourseDetails %}
    {{ govukInput({
      id: "streamOrWatercourseDetails",
      name: "streamOrWatercourseDetails",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      value: getAnswer(answers, question.answers.streamOrWatercourseDetails.answerId),
      label: {
        text: "Name of stream or watercourse (if known)"
      }
    }) }}
    {% endset %}
    
    {% set otherHtmlSomethingElseDetails %}
    {{ govukInput({
      id: "somethingElseDetails",
      name: "somethingElseDetails",
      spellcheck: false,
      classes: "govuk-!-width-two-thirds",
      value: getAnswer(answers, question.answers.somethingElseDetails.answerId),
      label: {
        text: "Give details of the type of water"
      }
    }) }}
    {% endset %}

    {{ govukRadios({
      name: "answerId",
      id: "answerId",
      errorMessage: findErrorMessageById(errorSummary, "answerId"),
      fieldset: {
        legend: {
          text: question.text,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: question.answers.river.answerId,
          text: question.answers.river.text,
          checked: getAnswer(answers, question.answers.river.answerId),
          conditional: {
            html: otherHtmlRiverDetails
          }
        },
        {
          value: question.answers.lakeOrReservoir.answerId,
          text: question.answers.lakeOrReservoir.text,
          checked: getAnswer(answers, question.answers.lakeOrReservoir.answerId),
          conditional: {
            html: otherHtmlLakeOrReservoirDetails
          }
        },
        {
          value: question.answers.sea.answerId,
          text: question.answers.sea.text,
          checked: getAnswer(answers, question.answers.sea.answerId)
        },
        {
          value: question.answers.canal.answerId,
          text: question.answers.canal.text,
          checked: getAnswer(answers, question.answers.canal.answerId),
          conditional: {
            html: otherHtmlCanalDetails
          }
        },
        {
          value: question.answers.streamOrWatercourse.answerId,
          text: question.answers.streamOrWatercourse.text,
          checked: getAnswer(answers, question.answers.streamOrWatercourse.answerId),
          conditional: {
            html: otherHtmlStreamOrWatercourseDetails
          }
        },
        {
          value: question.answers.somethingElse.answerId,
          text: question.answers.somethingElse.text,
          checked: getAnswer(answers, question.answers.somethingElse.answerId),
          conditional: {
            html: otherHtmlSomethingElseDetails
          }
        },
        {
          divider: "or"
        },
        {
          value: question.answers.youDoNotKnow.answerId,
          text: question.answers.youDoNotKnow.text,
          checked: getAnswer(answers, question.answers.youDoNotKnow.answerId)
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
