{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="otherInfo" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {% set otherHtml %}
      {{ govukDateInput({
        id: "date-of-incident",
        namePrefix: "date-of-incident",
        fieldset: {
          legend: {
            text: "Date",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 27 3 2023"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Approximate time (optional)",
          classes: "govuk-fieldset__legend--s"
        },
        classes: "govuk-input--width-5",
        id: "time",
        name: "time"
      }) }}
      {% endset -%}

      {% set timeHtml %}
      {{ govukInput({
        label: {
          text: "Approximate time (optional)",
          classes: "govuk-fieldset__legend--s"
        },
        classes: "govuk-input--width-5",
        id: "time",
        name: "time"
      }) }}
      {% endset -%}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        name: "current",
        fieldset: {
          legend: {
            text: "When did this happen?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Give the most recent time if it's happened more than once."
        },
        items: [
          {
            value: "today",
            text: "Today",
            conditional: {
                html: timeHtml
                }
          },
          {
            value: "yesterday",
            text: "Yesterday",
            conditional: {
                html: timeHtml
                }
          },
          {
            value: "thisweek",
            text: "In the last week",
            conditional: {
                html: otherHtml
                }
          },
          {
            value: "date",
            text: "Before then",
            conditional: {
                html: otherHtml
                }
          },
          {
            divider: "or"
          },
          {
            value: "dunno",
            text: "You do not know"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
